<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="YumakEntities" connectionString="metadata=res://*/YumakModel.csdl|res://*/YumakModel.ssdl|res://*/YumakModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.41;initial catalog=Yumak;persist security info=True;user id=esra;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="yumak.Properties.Settings.YumakConnectionString" connectionString="Data Source=192.168.1.41;Initial Catalog=Yumak;Persist Security Info=True;User ID=esra;Password=1234"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>